body {
  .square {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 15%;
    
  }
  
  .red {
    background-color: rgb(197, 5, 5);
  }
  
  .blue {
    background-color: rgb(3, 3, 157);
  }
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
